<div class="zigzag-line -z-10 md:z-5">
  <svg viewBox="-22 0 100 2000" preserveAspectRatio="none">
    <!-- Dibujar un zigzag con curvas suaves usando path -->
    <path d="
      M 10 0
      Q 60 80, 10 160
      T 10 320
      T 10 480
      T 10 640
      T 10 800
      T 10 960
      T 10 1120
      T 10 1280
      T 10 1440
      T 10 1600
      T 10 1760
      T 10 1920
      T 10 2000
    " 
    stroke="red" 
    stroke-width="12" 
    fill="none" 
    stroke-linecap="round" 
    stroke-linejoin="round" />
  </svg>
</div>
<div class="zigzag-line-right -z-10 md:z-5">
  <svg viewBox="22 0 100 2000" preserveAspectRatio="none">
    <!-- Dibujar un zigzag invertido -->
    <path d="
      M 90 0
      Q 40 80, 90 160
      T 90 320
      T 90 480
      T 90 640
      T 90 800
      T 90 960
      T 90 1120
      T 90 1280
      T 90 1440
      T 90 1600
      T 90 1760
      T 90 1920
      T 90 2000
    " 
    stroke="red" 
    stroke-width="12" 
    fill="none" 
    stroke-linecap="round" 
    stroke-linejoin="round" />
  </svg>
</div>
<div class="illuminated-item">

  <header class="text-center p-0">
    <h1 class="mt-12 text-7xl md:text-8xl text-white" style="font-family: Plante;">
        <span class="text-secondary z-50 relative">T</span>HE 
        <span class="text-secondary z-50 relative">A</span>NCIENT 
        <span class="text-secondary z-50 relative">G</span>ATE
    </h1>
  </header>
  

  <app-scrollbar class="hidden md:block"></app-scrollbar>

  <app-descarga id="descarga"></app-descarga>

  <div class="text-center mb-9">
    <h1 class="text-4xl z-50 relative"><span class="text-secondary">I</span>nformación</h1>
  </div>
  <app-informacion id="informacion"></app-informacion>

  <app-imagenes id="galeria"></app-imagenes>

  <app-videos id="videos"></app-videos>
  
  <span class="flashlight"></span>
  <svg>
    <defs>
      <filter id="blur-filter">
        <feGaussianBlur />
      </filter>
    </defs>
  </svg>
</div>
