<div class="illuminated-item">

  <header class="text-center p-0">
    <h1 class="mt-12 text-8xl text-white" style="font-family: Plante;">
        <span class="text-secondary z-50 relative">T</span>HE 
        <span class="text-secondary z-50 relative">A</span>NCIENT 
        <span class="text-secondary z-50 relative">G</span>ATE
    </h1>
  </header>
  

  <app-scrollbar></app-scrollbar>

  <div class="p-20" id="descarga">
    
    <button>Descargar</button>
    
  </div>

  <div class="p-20" id="descripcion">
    <!-- Contenido de Descripción -->
  </div>

  <div class="p-20" id="imagenes">
    <lightgallery>
      <a href="/images/mapa1.png">
          <img alt="img1" src="/images/thumb1.png" />
      </a>
      <a href="/images/mapa2.png">
          <img alt="img2" src="/images/thumb2.png" />
      </a>
    </lightgallery>
  </div>

  <div class="p-20" id="videos">
    <!-- Contenido de Videos -->
  </div>
  
  <span class="flashlight"></span>
  <svg>
    <defs>
      <filter id="blur-filter">
        <feGaussianBlur />
      </filter>
    </defs>
  </svg>
  
  
  
    
  
  

</div>
