.flashlight {
    position: fixed;
    border-radius: 50%;
    background-color: transparent; 
    background: radial-gradient(circle, rgba(255, 165, 0, 0.9) 0%, rgba(255, 100, 0, 0.5) 30%, rgba(0, 0, 0, 0) 70%); /* Gradiente amarillo cálido */
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8); 
    transition: filter 0.5s ease;
    pointer-events: none;
     
    filter: blur(100px); /* fallback */
    filter: url(#blur-filter); /* actual filter using SVG */
  }

.illuminated-item {
    overflow: auto;
    height: 100%;
    position: relative;
  }

@media (max-width: 600px) {
    .light {
        width: 150px;  
        height: 150px;
    }
}

@media (max-width: 400px) {
    .light {
        width: 100px;  
        height: 100px;
    }
}

