<div class="flex flex-col items-center mt-28 min-h-screen text-white p-4">
    <h1 class="text-4xl z-50 mb-6">Descarga</h1>
    <p class="text-lg mb-8 text-center max-w-lg">
      ¡Gracias por tu interés en nuestro juego! Haz clic en el botón de abajo para descargarlo.
    </p>
    <a href="https://drive.google.com/file/d/17uynWuSJiE1jUJyn7z3L3OzA0IBmv0xU/view?usp=drive_link" class="bg-secondary text-white font-semibold py-2 px-6 rounded-md hover:bg-secondary-dark transition duration-300">
      Descargar Ahora
    </a>
    <div class="mt-12 text-center">
      <h2 class="text-2xl font-semibold">¿Tienes preguntas?</h2>
      <p class="mt-2">Contáctanos a través de nuestras redes sociales o por correo electrónico.</p>
    </div>
  </div>
  
