<div class="z-50 relative grid sm:grid-cols-12 gap-4 sm:mx-36">

    <div class="min-h-24 sm:col-span-4 rounded-lg">
        
        <h1 class="text-center text-2xl mb-4">Creadores</h1>
        
        <div class="grid grid-cols-2">
            <div class="m-4 border-solid border-2 border-white rounded-full overflow-hidden">
                <img class="object-cover" src="/images/fotoDavid.png">
            </div>
            <div class="m-4 border-solid border-2 border-white rounded-full overflow-hidden">
                <img class="object-cover mt-1.5" src="/images/fotoJesus.png">
            </div>
        </div>
        <div class="grid grid-cols-2">
            <span class="mx-6 text-center">David Méndez García</span>
            <span class="mx-6 text-center">Jesús Lopez Galbis</span>
        </div>

        <h1 class="text-center text-2xl mt-6">Premisa</h1>
        <div class="mx-8 mt-3 sm:m-4">
            Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. 
            También es una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, 
            aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original. 
            En otras palabras, un texto es un entramado de signos con una intención comunicativa que adquiere sentido en determinado contexto.
        </div>
    </div>

    <div class="border-l-2 hidden sm:block w-1 border-gray-400 h-auto"></div>

    <div class="min-h-24 sm:col-span-7 rounded-lg">

        <h1 class="text-center text-2xl">Clases</h1>
        <div class="grid grid-cols-3">
              <div class="w-52 h-72 m-4">
                <img class="w-full h-full object-contain" src="/images/pergamino.png">
              </div>
              <div class="w-52 h-72 m-4">
                <img class="w-full h-full object-contain" src="/images/pergamino.png">
              </div>
              <div class="w-52 h-72 m-4">
                <img class="w-full h-full object-contain" src="/images/pergamino.png">
              </div>
        </div>

        <h1 class="text-center text-2xl">Objetos</h1>
        <div class="grid grid-cols-4 gap-4">
            <div class="w-32 h-32 m-4 border-solid border-2 border-white rounded-full overflow-hidden">
              <img class="w-full h-full object-contain" src="/images/bomba(1).png">
            </div>
            <div class="w-32 h-32 m-4 border-solid border-2 border-white rounded-full overflow-hidden">
              <img class="w-full h-full object-contain" src="/images/vida(1).png">
            </div>
            <div class="w-32 h-32 m-4 border-solid border-2 border-white rounded-full overflow-hidden">
              <img class="w-full h-full object-contain" src="/images/energia(1).png">
            </div>
            <div class="w-32 h-32 m-4 border-solid border-2 border-white rounded-full overflow-hidden">
              <img class="w-full h-full object-contain" src="/images/venda(1).png">
            </div>
          </div>
          
    </div>
</div>