@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7); /* Sombra oscura */
    overflow-y: scroll;
    position: relative;
    background-color: #333;
    //cursor:none;
    color:white;
    cursor:url('../public/Middle\ Ages--cursor--SweezyCursors.cur'), auto;
}

a, button {
    cursor: url('../public/Middle\ Ages--pointer--SweezyCursors.cur'), pointer;
}

@font-face {
    font-family: 'Plante';
    src: url('../public/fonts/Plante.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.zigzag-line {
    position: fixed;
    top: 0;
    left: 30px;
    width: 130px; /* Ancho del zigzag */
    height: 100vh;
  }

  .zigzag-line-right{
    position: fixed;
    top: 0;
    right: 30px;
    width: 130px; /* Ancho del zigzag */
    height: 100vh;
  }

  /* Dibujar el SVG de zigzag en la línea */
  .zigzag-line svg .zigzag-line-right svg {
    width: 100%;
    height: 100%;
  }