<div class="timeline-navbar">

    <div class="timeline-event">
        <div class="timeline-content">
            <a href="#descarga">
                Descarga
            </a>
        </div>
        <div class="timeline-point-track-container">
            <div class="timeline-point"></div>
            <div class="timeline-track"></div>
        </div>
    </div>

    <div class="timeline-event">
        <div class="timeline-content">
            <a href="#informacion">
                Información
            </a>
        </div>
        <div class="timeline-point-track-container">
            <div class="timeline-point"></div>
            <div class="timeline-track"></div>
        </div>
    </div>

    <div class="timeline-event">
        <div class="timeline-content">
            <a href="#galeria">
                Galería
            </a>
        </div>
        <div class="timeline-point-track-container">
            <div class="timeline-point"></div>
            <div class="timeline-track"></div>
        </div>
    </div>

    <div class="timeline-event">
        <div class="timeline-content">
            <a href="#videos">
                Videos
            </a>
        </div>
        <div class="timeline-point-track-container">
            <div class="timeline-point"></div>
        </div>
    </div>
</div>